/*
	Please add your custom CSS in this file. The hex codes for the colours are below.

	Main text color (grey): #838383
	Dark grey for the speech bubble at the top: #424242
	Grey border colour for the main content area, and the buttons at the bottom: #DCDCDC
	Orange colour for the highlighted "only 3 days left" text and the progress bar: #F15E33
	The background for the part of the progress bar that isn't filled in: #FAFAFA
	Buttons at the bottom: #838383
	Green button: #00BE1C
	Green button border: #01B21A
	"Why give 50" link: #25A5D8
*/
.cardComponent {
border: 1px solid #ccc;
padding: 20px;
background-color: white;
width: 250px;
color: #838383;
}

.input{
	display:flex;
	flex-direction:row;
	width:90px;
}

.buttonGiveNow{
	display:flex;
	flex-direction: row;
	background-color: #00BE1C;
	border-color: #01B21A;
	color: white;
}

.daysLeft{
color:#F15E33 ;
font-weight: bold;
}

.bubbleSpeech{
	color: white;
	border: 1px;
	top: 40px;
	left: 50%;
	background-color: #424242;
	width: 270px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.whyGive{
	color: #25A5D8;
	font-size: 10px;
	
}

.progressBar{
	color: #F15E33;
	width: 200px;
	height: 20px;
}
progress::-webkit-progress-value {
	background-color: #ff6e6e; 